# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Package files
*.egg-info/
*.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# JetBrains IDEs (IntelliJ, PyCharm, etc.)
.idea/

# Sublime Text
*.sublime-*

# Vim
*.swp
.vim/
.vimrc
